@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e5e5e5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.robotos {
	font-family: "Roboto", sans-serif;
}

.active {
	background-color: #d7ecec;
	border-radius: 10px;
	display: inline-block;
}

.baseIt {
	justify-content: flex-end;
}

.card {
	@apply shadow-sm flex flex-col bg-white justify-center items-center w-64 h-96 rounded-lg;
}

.empty {
	@apply p-8 shadow-sm flex flex-col bg-white justify-center items-center w-3/4 h-40 m-8 rounded-2xl text-center;
}
